* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') no-repeat center center/cover;
}

.container {
    width: 90%;
    max-width: 420px;
    padding: 50px 40px;
    border-radius: 25px;
    text-align: center;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

.container h2 {
    font-size: 32px;
    color: white;
    margin-bottom: 30px;
}

.input-box {
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 12px 5px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    font-size: 16px;
}

.input-box input::placeholder {
    color: rgba(255,255,255,0.7);
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
}

.options a {
    color: #9c27b0;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background: #081b2e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background: #0f2d4d;
}

.register-text {
    color: white;
}

.register-text a {
    color: #ddd;
    text-decoration: none;
}
